.predictions-section {

  .pagination {
    font-size: 1.25rem;



    .active {
      border: #6f42c1 1px solid;
    }

    li {
      margin: 0 .2rem;
      cursor: pointer;
      padding: 0.2rem 0rem;

      border: 1px solid #007bff;

      &:first-child {
        border: none;
      }

      &:last-child {
        border: none;
      }

      a {
        color: whitesmoke !important;
        padding: 0.2rem 0.8rem;
        height: 100%;
        width: 100%;
      }

      &:hover,
      :active {
        color: #6f42c1;
        cursor: pointer;


      }


    }

    .next,
    .previous {
      display: none;
    }
  }

  .custom-dropdown {
    width: 100% !important;

    a {
      font-size: 14px;
    }

    button {
      width: 100%;
      border: none !important;
      border-radius: 0px !important;
    }

    input {
      width: 100% !important;
      height: 100% !important;
      padding: .3rem .5rem;
      border: none !important;
      border-radius: 0px !important;
      font-size: 14px;
    }
  }

  p {
    margin-bottom: 0 !important;
  }
}