.bets-section {
  min-height: 100vh;
  input {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .edit-save {
    cursor: pointer;
  }

  .editable-table {
    td {
      text-align: center;
      font-weight: bold;

      input {
        text-align: center;
      }
    }
  }



  p {
    display: flex;
    align-items: center;
    text-align: left;
  }


  i {
    flex: 0 0 10%;
    margin-right: 10px;
    color: silver;
    font-size: 1.2rem;
  }


  .bet-field {
    display: flex;

    i {
      flex: 10%;
    }

    span {
      flex: 90%;
      text-align: center;
    }
  }

  input {
    padding-left: 10px;
  }

  .input-group-prepend,
  .input-group-text {
    width: 50px;
  }

  button {
    font-size: 12px !important;
  }

  .custom-dropdown {
    width: 100% !important;

    a {
      font-size: 14px;
    }

    button {
      width: 100%;
      border: none !important;
      border-radius: 0px !important;
    }

    input {
      width: 100% !important;
      height: 100% !important;
      padding: .3rem .5rem;
      border: none !important;
      border-radius: 0px !important;
      font-size: 14px;
    }
  }
}

.bet-footer {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: bottom !important;
  height: 40px !important;
}

.bet-card {
  z-index: 1 !important;
}

.bet-card-body {
  position: relative;
  font-family: 'Montserrat', 'sans-serif';
  // color: black;
  font-size: 16px;
  height: 125px;

  .bet-card-title {
    color: whitesmoke;
  }

  i {
    margin-right: 10px
  }

  .button {
    &s {
      display: flex !important;
      flex-direction: row !important;
      // border-bottom: 1px solid var(--border-color);
      // border-left: 1px solid var(--border-color);
      width: 25px !important;
      height: 25px !important;
      z-index: 1000 !important;
    }

    &-action {
      background: transparent !important;
      border: none !important;
    }

    &-save {
      width: 25px !important;
      position: absolute !important;
      top: 7.5px !important;
      left: 7.5px !important;

      i {
        color: var(--success) !important;
        margin: 0 auto !important;
        font-size: 1rem !important;
      }


    }

    &-delete-confirm {
      width: 25px !important;
      color: salmon !important;
      position: absolute !important;
      top: 7.5px !important;
      right: 7.5px !important;

      i {
        color: salmon !important;
        margin: 0 auto !important;
        font-size: 1rem !important;
      }
    }

    &-edit {
      width: 25px !important;
      position: absolute !important;
      top: 7.5px !important;
      right: 7.5px !important;

      i {
        color: goldenrod !important;
        margin: 0 auto !important;
        font-size: 1rem !important;
      }
    }

  }


}

// @media only screen and (max-width: 575px) {
//   .bets-section {
//     .bet-field {
//       display: flex;
//       justify-content: center;

//       i {
//         flex: 50%;
//         text-align: right;
//         margin-right: 80px;
//       }

//       span {
//         flex: 50%;
//         text-align: left;
//       }
//     }
//   }
// }