.main-page {
  h4 {
    color: white;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
}

.main-ctn {
  display: flex;
  justify-content: center;
  align-items: center;

  &--list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}

a {
  color: #fdcc52;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.tree-wrapper {
  margin-top: 20px;
}


@media only screen and (max-width: 900px) {
  .tree-wrapper {
    margin-top: 0;
  }
}

.prediction-mock {
  .prediction-card {
    background: black !important;
    text-align: center;

    &-badges {

      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

    &-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      border-top: 1px #007bff solid;

      a {
        cursor: pointer;
      }
    }

    &-title {
      color: white;
      margin-top: 0;
      font-size: 1.25rem;
    }

    &-text {
      color: whitesmoke !important;
    }

    @media only screen and (max-width: 1200px) {
      &-title {
        margin-top: 0;
      }
    }
  }
}

.mock-ratio-section {
  $total-items: 6;
  display: flex;
  justify-content: center;

  ul {
    width: 70%;
    margin: 0;
    padding: 10px;
  }

  a {
    position: relative;
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
  }

  &-win {
    h4 {
      color: hotpink;
      font-size: 1.2rem;
    }

    a {
      border: 1px solid hotpink;
      cursor: pointer;

      &:hover {
        color: salmon !important;
        text-decoration: none;
      }
    }

    // Set delay per List Item
    @for $i from 1 through $total-items {
      a:nth-child(#{$i}) {
        animation-delay: .25s * $i;
      }
    }
  }
}

.main-footer {
  background: transparent;
  width: 100%;
}

.testimonial-quote {
  font-size: 12px;
  display: grid;
  grid-template-areas:
    'quote quote'
    'img img';

}

.testimonial-quote blockquote {
  /* Negate theme styles */
  border: 0;
  margin: 0;
  padding: 0;

  background: none;
  color: gray;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 0;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

.testimonial-quote blockquote * {
  box-sizing: border-box;
}

.testimonial-quote blockquote p {
  color: #75808a;
  line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
  content: '\201C';
  color: #81bedb;
  font-size: 7.5em;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top: -.4em;
  left: -.2em;
  text-shadow: none;
  z-index: -300;
}

.testimonial-quote img {
  border: 3px solid #9CC1D3;
  border-radius: 50%;
  display: block;
  width: 120px;
  height: 120px;
  grid-area: image;
}

.testimonial-quote cite {
  margin-top: 20px;
  color: gray;
  display: block;
  font-size: 1em;
  grid-area: cite;
}

.testimonial-quote cite span {
  color: #5e5e5e;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px white;
}

.quote {
  &-quote {
    grid-area: quote;
  }

  &-img {
    grid-area: img;
    display: flex;
    justify-content: space-around;

    img {
      margin-right: -25px;
    }
  }
}

.testimonial-quote {
  position: relative;

}

.testimonial-quote.right {
  padding-left: 0;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
}

.testimonial-quote.right img {
  left: auto;
  right: 0;
}

.testimonial-quote.right cite {
  text-align: right;
}