.predictions-section {
  min-height: 100vh;

  overflow: visible;
  background: transparent;

  .prediction-card {
    background: black !important;

    &-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      border-top: 1px #007bff solid;
    }

    &-title {
      color: white;
      margin-top: -30px;
    }

    &-text {
      color: whitesmoke !important;
    }

    @media only screen and (max-width: 768px) {
      &-title {
        margin-top: 0;
      }
    }
  }



  button {
    font-size: 12px !important;
  }

  .badge {
    padding: 0.8em .9em !important;
  }

  .prediction-form {
    color: white;
  }


  #inputGroupPrepend {
    background: #301934;
    color: pink;
    border: purple 1px solid;
  }

  input,
  select,
  textarea {
    background: #301934;
    color: white;
    border: purple 1px solid;
  }

  input:focus,
  select:focus,
  textarea:focus {
    color: white;
    background: #301934;
    border: gold 1px solid;
  }

  ::placeholder {
    color: white;
  }
}