@import url(https://fonts.googleapis.com/css?family=Lato);

.halloffame {
  text-align: center;

  &-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &-heading {
    color: whitesmoke;
    font-size: 2rem;
  }

}

.halloffame .ratio-section {
  $total-items: 5;
  display: flex;
  justify-content: center;

  ul {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  a {
    position: relative;
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
  }

  &-win {
    h4 {
      color: hotpink
    }

    a {
      border: 1px solid hotpink;

      &:hover {
        color: salmon !important;
        text-decoration: none;
      }
    }

    // Set delay per List Item
    @for $i from 1 through $total-items {
      a:nth-child(#{$i}) {
        animation-delay: .25s * $i;
      }
    }
  }

  &-total {
    margin-top: 215px;

    h4 {
      color: orange
    }

    a {
      border: 1px solid orange;

      &:hover {
        color: purple !important;
        text-decoration: none;
      }
    }

    @for $i from 1 through $total-items {
      a:nth-child(#{$i}) {
        animation-delay: .25s * $i + .5s;
      }
    }
  }

  &-profit {
    margin-top: -75px;

    h4 {
      color: purple
    }

    a {
      border: 1px solid purple;


      &:hover {
        color: orange !important;
        text-decoration: none;
      }
    }

    @for $i from 1 through $total-items {
      a:nth-child(#{$i}) {
        animation-delay: .25s * $i + 1s;
      }
    }
  }


  &-activity {
    margin-top: 140px;

    h4 {
      color: salmon
    }

    a {
      border: 1px solid salmon;

      &:hover {
        color: hotpink !important;
        text-decoration: none;
      }
    }

    @for $i from 1 through $total-items {
      a:nth-child(#{$i}) {
        animation-delay: .25s * $i + 1.5s;
      }
    }
  }

  // Keyframe animation
  @keyframes fadeIn {
    0% {
      opacity: 0;
      top: 100px;
    }

    75% {
      opacity: 0.5;
      top: 0px;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      top: 100px;
    }

    75% {
      opacity: 0.5;
      top: 0px;
    }

    100% {
      opacity: 1;
    }
  }
}