header {
  display: flex;
  background: white;
  height: 100px;
  font-family: 'Roboto', sans-serif;
  flex-direction: row;
  justify-content: space-between;
}

.navigation--list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 250px;
}

.header-wrapper {
  flex: 0 0 30% !important;
  color: salmon;
  margin-left: auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;

  div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

}

.navbar-flex {
  width: 100%
}

.nav-link {
  cursor: pointer;
}



@media only screen and (max-width: 990px) {
  .navbar-flex {
    width: 100%;

    .flex-link {
      text-align: center;
    }
  }

  .flex-registered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-text {
    width: 100%
  }

  .nav-link-hide {
    display: none;
  }
}